body{
  background-image: url("./assets/Predawn.jpg");
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 2%;
  overflow: hidden;
  background-color: #F94F38;
  width: 100vw;
  text-align: center;
  position: fixed;
}

li {
  float: left;
}

.li-a {
  display: block;
  color: white;
  text-align: center;
  margin-right: 1cm;
  text-decoration: none;

}


